<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <style>
            body {
                min-height: 100vh;
                font-size: 1.3vw;
            }
            .pageHeader {
                height: 80vh;
            }
            .pageHeader img {
                position: absolute;
                top: 0;
                left: 0;
            }
            .hookSentence {
                background-color: rgba(255,228,196,0.4);
                z-index: 1;
            }
            .hookSentence h1 {
                font-size: 5rem;
            }
            .hookSentence h2 {
                font-size: 4rem;
            }
            .hookSentence h3 {
                font-size: 3.75rem;
            }

            @media (max-width: 768px) { 
                body{
                    font-size: 1em;
                }
                .hookSentence h1 {
                    font-size: 3rem;
                }
                .hookSentence h2 {
                    font-size: 2rem;
                }
                .hookSentence h3 {
                    font-size: 1.75rem;
                }
             }
            
        </style>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="{{ path('home') }}">ImmoLart</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto w-100 d-flex justify-content-around">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('house_home', {'page': 1 }) }}">Nos maisons</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('team') }}">L'équipe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin_home') }}">Administration</a>
                            </li>
                        {% elseif is_granted('ROLE_USER') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('security_logout') }}">Déconnexion</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" onclick="showModal()">Connexion</a>
                            </li>
                            <div class="modal" tabindex="-1" role="dialog" style="display:none">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Connexion</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{{ path('security_login') }}" method="POST" class="d-flex flex-column p-sm-5 p-3 col-10 offset-1 col-sm-6 offset-sm-3 bg-white">
                                            {# {% if error %}
                                                <div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                            {% endif %} #}
                                            <input class="mb-2 mt-2 form-control" type="text" placeholder="Adresse email" value="{{ lastUsername }}" name="_username"  required />
                                            <input class="mb-2 mt-2 form-control" type="password" placeholder="Mot de passe" name="_password" required />
                                            <button type="submit" class="btn btn-primary mt-2">Connexion !</button>
                                            <small class="text-center">accès Admin:<br /> demo@admin.demo <br />adminDemo</small><br />
                                            <small class="text-center">accès User:<br /> demo@user.demo <br />userDemo</small>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                    </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
        <div class="pageHeader d-flex align-items-center justify-content-center position-relative bg-secondary">
            <img src="/assets/images/landscape.jpg" alt="" class="w-100 h-100">
            <div class="hookSentence text-center">
                <h1>Immo Lart</h1>
                <h2>Avec nous l'immobilier</h2>
                <h3>C'est tout un art !</h3>
            </div>
        </div>
        {% block body %}
        {% endblock %}
        <footer class="mt-5">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('mlegales') }}">Mentions Légales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('recette') }}">Recette</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </footer>
        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script>
                function showModal() {
                    $('.modal').css('display', 'block');
                }
            </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
